*,
::after,
::first {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem
}
p {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-left: .75rem;
  padding-right: .75rem
}
h1 {
  font-size: 3.75rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center
}
h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: .75rem;
  text-align: center
}
h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: .5rem
}
a {
  --tw-text-opacity: 1;
  color: rgba(96,165,250,var(--tw-text-opacity))
}
a:hover {
  --tw-text-opacity: 1;
  color: rgba(30,58,138,var(--tw-text-opacity))
}
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  height: 100vh;
  margin: 0;
  padding: 0
}
header {
  --tw-bg-opacity: 1;
  background-color: rgba(75,85,99,var(--tw-bg-opacity))
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
footer {
  --tw-bg-opacity: 1;
  background-color: rgba(75,85,99,var(--tw-bg-opacity));
  display: grid;
  place-items: center;
  height: 6rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(229,231,235,var(--tw-text-opacity))
}
footer p {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.5rem;
  line-height: 2rem
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: min(90%,960px);
  -webkit-column-gap: 6em;
  -moz-column-gap: 6em;
  column-gap: 6em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 1rem auto 2rem
}
form label {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem
}
form input {
  position: relative;
  top: .5rem;
  padding: .5rem 1rem
}
.tagline,
.title {
  --tw-text-opacity: 1;
  color: rgba(229,231,235,var(--tw-text-opacity))
}
.tagline {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
main h2 {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  margin-bottom: 0
}
main > div {
  --tw-bg-opacity: 1;
  background-color: rgba(245,158,11,var(--tw-bg-opacity));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
select {
  min-width: 220px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: .75rem
}
select:active,
select:focus {
  outline: 0
}
.chart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem
}
.chart {
  width: 50%
}